/*-------------------------------------------------------*\
|$colors
\*-------------------------------------------------------*\
/**
*Branding colors
*/
/**
*Textures
*/
/**
*Typography
*/
/*-------------------------------------------------------*\
| BUTTONS
\*-------------------------------------------------------*/
.btn {
  display: inline-block;
  color: white;
  background-color: #ea83ee;
  line-height: 2.5;
  border-radius: 3px; }

/*-------------------------------------------------------*\
| LINKS
\*-------------------------------------------------------*/
/*-------------------------------------------------------*\
   TIPOGRAFIA
\*-------------------------------------------------------*/
table tr:hover {
  background-color: #dbd879; }

/*-------------------------------------------------------*\
 GRIDS
\*-------------------------------------------------------*/
